.HeaderBar {
    position: fixed;
    top: 100%;
    height: 100vh;
    background-color: #170e0e;
    padding-left: 10%;
    nav-left: auto;
    position: left;
    
   
  }
  
  .AppbarStyle {
    width: 100%;
    height: 100%;
  }
  
.Toolbar {
    height: 100%;
  }