.CardsStyle {
    display: flex;
    flex-direction: column;
    align-items:center ; 
    justify-content: left; 
    padding-left: 200%;
    padding-top: 50%;
    height: 80%;
    width: 10%;
    

  }
  